
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#060608;;
    color: #333;
}

.section {
    padding: 60px 20px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.section h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color:orangered;
}

.lead {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #d8d8d8;
}

.hero-card {

    padding: 30px;
    margin-top: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-card label {
    text-align: left;
    font-weight: bold;
    color: #444;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #949090;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input-field:focus {
    border-color: #0077cc;
    box-shadow: 0
}